<section class="cart">
  <h2>Your Cart ({{ cartItems.length }})</h2>
  <div class="content">
    @if(cartItems.length > 0) {
    <div class="" *ngFor="let item of cartItems">
      <div>
        <span>{{ item.name }} &nbsp;</span>
        <span>qty: {{ item?.quantity }} &nbsp;</span>
        <span
          >price:{{ item.price }} &nbsp; total: {{ getItemTotal(item) }}</span
        >
        <button (click)="removeItemFromCart(item)">delete</button>
      </div>
    </div>
    <div>Total: {{ cartTotal$ | async }}</div>
    <button (click)="openModal()">Confirm Order</button>
    <div class="modal-overlay" *ngIf="isModalOpen">
      <div class="modal">
        <h3>Confirm Your Order</h3>
        <div class="modal-content">
          <div *ngFor="let item of cartItems">
            <p>
              <strong>{{ item.name }}</strong
              ><br />
              Quantity: {{ item.quantity }}<br />
              Price: {{ item.price | currency }}<br />
              Total: {{ getItemTotal(item) | currency }}
            </p>
          </div>
          <hr />
          <p class="modal-total">
            Cart Total: {{ cartTotal$ | async | currency }}
          </p>
        </div>
        <div class="modal-actions">
          <button (click)="confirmOrder()">Confirm</button>
          <button (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>

    } @else {
    <div class="empty-cart-content">
      <img src="images/illustration-empty-cart.svg" alt="empty cart svg" />
      <p class="empty-cart-description">Your added items will appear here</p>
    </div>
    }
  </div>
</section>
