<main>
  <section class="desserts">
    <h1>Desserts</h1>

    <div class="desserts-container" *ngFor="let desert of desserts">
      <p>{{ desert?.name }}</p>
    </div>
  </section>

  <section class="cart">
    <h2>Your Cart (0)</h2>
    <div class="content">
      <div class="empty-cart-content">
        <img src="images/illustration-empty-cart.svg" alt="empty cart svg" />
        <p class="empty-cart-description">Your added items will appear here</p>
      </div>
    </div>
  </section>
</main>
