@use "variables" as *;
@use "mixins" as *;

:host {
  width: 100%;
}

main {
  max-width: 1216px;
  margin: auto;
  padding: 1.5rem;

  @include myflex(column, center, center, 2rem);
}

.desserts {
  width: 100%;
  height: 100%;

  h1 {
    @include TextPreset1;
    color: $rose-900;
    margin-bottom: 2rem;
  }
}

.desserts-container {
  @include flex(column, center, flex-start, 1rem);
  width: 100%;

  & .dessert-wrapper {
    width: 100%;
  }
}

.cart-wrapper {
  width: 100%;
}
