@use "variables" as *;
@use "mixins" as *;

:host {
  width: 100%;
}

main {
  max-width: 1216px;
  margin: auto;
  padding: 1.5rem;
  @include myflex(column, center, center, 2rem);

  @include respond-above($breakpoint-lg) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
  }
}

.desserts {
  width: 100%;
  height: 100%;

  h1 {
    @include TextPreset1;
    color: $rose-900;
    margin-bottom: 2rem;
  }
}

.desserts-container {
  @include flex(column, center, flex-start, 1rem);
  width: 100%;

  & .dessert-wrapper {
    width: 100%;
  }

  @include respond-above($breakpoint-sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.cart-wrapper {
  width: 100%;
}
